@font-face {
    font-family: Pacifico-Regular;
    src: url("../Fonts/Pacifico-Regular.ttf");
}

@font-face {
    font-family: Futura-Book-Font;
    src: url("../Fonts/Futura-Book-Font.ttf");
}

@font-face {
    font-family: CorleoneDue;
    src: url("../Fonts/CorleoneDue.ttf");
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

/* header */
.jumbotron {
    text-align: center;
    background-image: url("../images/dinner&movie-hero.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    border-radius: 0;
    height: 450px;
    padding: 80px;
    width: 100%;
    object-fit: contain;
}

h1 {
    color: #ffc000;
    font-family: CorleoneDue;
    font-size: 150px;
    font-weight: 500;
    margin-bottom: 30px;
    margin-top: 20px;
    text-shadow: -3px -3px 0 #000, 3px -3px 0 #000, -3px 3px 0 #000, 3px 3px 0 #000;
}

h2 {
    color: white;
}

#hero-text {
    color: #fadd87;
    font-family: Pacifico-Regular;
    font-size: 40px;
    margin-top: 20px;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}

.form-label {
    margin: 50px;
    padding: 5px;
}

.btn-brand-color {
    background-color: #ffc000;
    border: none;
    color: black;
}

/* body */
body {
    background-color: #610304;
}

#tmdb-logo {
    width: 5rem; 
    height: auto;
    margin: 10px;
}

footer {
    margin-top: auto;
    background-color: #0d253f;
    color: white;
    height: 5em;
    font-size: 0.75rem;
}